<header class="my-3">
    <h1>Kleurcontrast</h1>
</header>
<div class="button_space">
    <button mat-raised-button aria-label="Return home" routerLink="/home">
        <mat-icon>arrow_back_ios_new</mat-icon> <span>{{'terug' | translate }}</span>
    </button>
</div>
<div class="paragraph">
    <section>
        <header>
            <h2>Kleurcontrast</h2>
        </header>
        <article>
            <p>
                Kleurcontrast houdt in dat de verschillen in helderheid tussen de voorgrond en achtergrond kleuren.
                De combinatie tussen de voor en achtergrond kleuren kunnen het contrast verhogen, wanneer de juiste
                kleuren
                worden gecombineerd.
                Wat niet moet gebeuren is dat de slechte kleur combinatie tussen de voorgrond en achtergrond ervoor
                zorgen
                dat het contrast laag is.
                Laag contrast zorg ervoor dat de content niet goed leesbaar is voor gebruikers die slechtziend, of zelfs
                kleurenblind zijn.
                Volgens de WCAG-richtlijn is de kleurcontrast level AA het minimum vereiste.
            </p>
        </article>
    </section>

    <section>
        <header>
            <h2>Kleurenblind</h2>
        </header>
        <article>
            <p>
                Kleurenblind, ook wel kleurenstoornis genoemd, houdt in dat de individu kleuren ziet, maar niet alle
                kleuren even goed.
                De oorzaak is dat er meestal een probleem is met de kegeltjes in het netvlies.
                Volgens Oogfonds zijn kegeltjes lichtgevoelige cellen, waarvan iedereen er ongeveer 6 miljoen van heeft.
                De netvlies bevat naast kegeltjes ook 120 miljoen staafjes. Met de staafjes worden de verschillen in
                licht en donker gezien.
                De staafjes werken alleen als het donker is.
                De kegeltjes kunnen de details en kleuren worden gezien van dingen recht voor een persoon.
                Er zijn drie soorten kegeltjes die elk gevoelig zijn voor een bepaalde kleur: rood, groen, of blauw.
                Deze kegeltjes werken samen, waardoor bijna iedereen alle kleuren kan zien.
                Een kleurstoornis ontstaat wanneer het mis gaat in de samenwerking, omdat een kegeltje niet goed werkt.
                De oorzaak kan in sommige gevallen ook aan de hersenen liggen.
            </p>
        </article>
    </section>
    <section>
        <header>
            <h2>Resultaat</h2>
        </header>
        <article>
            <p class="paragraph-black p-2">
                Tijdens dit onderzoek zijn de kleuren volgens de contrast ratio level geïmplementeerd.
                Het gaat namelijk over gebruikers die visuele beperkingen hebben.
                Kleur en contrast bepaalt hoe hoog de contrast is, door middel van de combinatie met voorgrond en
                achtergrond.
            </p>
            <p class="paragraph-blue p-2">
                Tijdens dit onderzoek zijn de kleuren volgens de contrast ratio level geïmplementeerd.
                Het gaat namelijk over gebruikers die visuele beperkingen hebben.
                Kleur en contrast bepaalt hoe hoog de contrast is, door middel van de combinatie met voorgrond en
                achtergrond.
            </p>
            <p class="paragraph-green p-2">
                Tijdens dit onderzoek zijn de kleuren volgens de contrast ratio level geïmplementeerd.
                Het gaat namelijk over gebruikers die visuele beperkingen hebben.
                Kleur en contrast bepaalt hoe hoog de contrast is, door middel van de combinatie met voorgrond en
                achtergrond.
            </p>
            <p class="paragraph-purple p-2">
                Tijdens dit onderzoek zijn de kleuren volgens de contrast ratio level geïmplementeerd.
                Het gaat namelijk over gebruikers die visuele beperkingen hebben.
                Kleur en contrast bepaalt hoe hoog de contrast is, door middel van de combinatie met voorgrond en
                achtergrond.
            </p>
            <p>
                Tijdens dit onderzoek zijn de kleuren volgens de contrast ratio level geïmplementeerd.
                Het gaat namelijk over gebruikers die visuele beperkingen hebben.
                Kleur en contrast bepaalt hoe hoog de contrast is, door middel van de combinatie met voorgrond en
                achtergrond.
            </p>
        </article>

    </section>


</div>