.nm-fixed-height {
  height: 3.5rem;
   
}

// main height is based on full screen (100vh) minus the top/bottom margin (my-5) minus height of header and footer (3.5 + 5.5)
.nm-fill-height {
  min-height: calc(100vh - 6rem - 9rem);
}


 .nm-footer {
  background-color:rgb(73, 4, 100);
  display: block;
  padding: 10px;
  height: 5.5rem;
  .nm-form-field {
    height: 1.5rem;
  }
 }

.nm-spacer:hover, .nm-spacer:focus-visible {
  background-color: rgb(82, 1, 114);
  color: whitesmoke;
}
 
 
