<header class="my-3">
    <h1>Toegankelijkheid</h1>
</header>
<div class="button_space">
    <button mat-raised-button aria-label="Return home" routerLink="/home">
        <mat-icon>arrow_back_ios_new</mat-icon> <span>{{'terug' | translate }}</span>
        </button>
        </div>
        <div class="paragraph">
            <section>
                <header>
                    <h2>Wat is Toegankelijkheid?</h2>
                </header>
                <article>
                 <p>
                    Toegankelijkheid betekent dat iedereen, met of zonder beperking, de kans krijgt gebruik te maken van alle vormen van voorzieningen, informatie en dienstverlening. 
                    Met andere woorden, toegankelijkheid verminderd of verwijderd zelfs obstakels die de gebruikers in het dagelijkseleven te maken heeft.
                    De gebruikers maken gebruik van hun smartphones, laptops, computers en tablets.      
                 </p>
                 </article>
            </section>
            <section>
                <header>
                    <h2>Problemen toegankelijkheid</h2>
                </header>
                <article>
                  <p>
                    Toegankelijkheid is belangrijk in de samenleving, zodat de gebruikers met beperkingen niet achtergelaten wordt. 
                    Helaas zijn sommige websites niet altijd toegankelijk, omdat zij toegankelijkheid niet met het oog ontwikkelen. 
                    Vooral in de zorgsector, die bijvoorbeeld moeilijke termen gebruiken die niet alle gebruikers begrijpen.
                    Daarom is het patiëntenportaal met het oog op toegankelijkheid ontwikkeld, om verschillende obstakels die de gebruikers heeft te verminderen, of zels te verwijderen.
                  </p>
                  </article>
            </section>
            <section>
                <header>
                    <h2>Toegankelijkheidsfeatures</h2>
                </header>
            </section>
        </div>